{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %} Utiliza UFRJ {% endblock %}
        </title>

        <link rel="stylesheet" href="{% static "static/index.css" %}">
        {% render_block css postprocessor "compressor.contrib.sekizai.compress" %}
        {% block css %}
        {% endblock %}

        {% block js %}
        {% endblock %}
    </head>
    <body>
    <!--barra de navegação-->
		<nav class="nav has-shadow">
			<div class="nav-left">
				<a href='/' class="nave-item is.brand">
					<img src="./static/ufrj.png" alt="logo" width="110" />
				</a>
			</div>
			<div class="nav-right nav-item">
				<p><a href="{% url 'criar_agendamento' %}">Criar Agendamento</a></p>
				<p><a href="{% url 'consultar_agendamento' %}">Consultar Agendamento</a></p>
				<button class="button is-primary" @click="logout()">Sair</button>
			</div>
    	</nav>

    	<div class="container" id="content">
            {% block content %}
            {% endblock %}
		</div>
{% render_block js postprocessor "compressor.contrib.sekizai.compress" %}
	<style lang="scss" scoped>
	  .nav {
	    position: fixed;
	    width: 100%;
	  }

	  img {
	    margin: 10px 25px;
	    display: inline-block;
	    vertical-align: middle;
	  }
	</style>
	</body>
</html>
